<div class="text-center" ng-controller="AnimeListController" style="padding: 1%">
    <div class="panel-primary" style="
    float: left;
    height: 94vh;
    overflow-y: auto;">
        <div class="panel-heading">
            <h3 class="panel-title">Добавить аниме в коллекцию</h3>
        </div>
        <div class="panel-body">
            <div ng-show="message" style="max-width: 220px" class="alert alert-success">{{message}}</div>
            <div ng-show="error" style="max-width: 220px" class="alert alert-danger">{{error}}</div>
            <form name="editForm" ng-submit="submitForm(edit, editForm);" novalidate>
                <div class="form-group"
                     ng-class="{ 'has-error' : editForm.title.$invalid && !editForm.title.$pristine }">
                    <label>Название:</label>
                    <input type="text" name="title" class="form-control" ng-model="edit.title" required
                    placeholder="На русском языке" ng-minlength="2">
                    <p ng-show="editForm.title.$invalid && !editForm.title.$pristine" class="help-block">
                Это поле обязательно</p>
                </div>
                <div class="form-group"
                     ng-class="{ 'has-error' : editForm.title_original.$invalid &&
                     !editForm.title_original.$pristine }">
                    <label>Оригинальное название:</label>
                    <input type="text" name="title_original" class="form-control" ng-model="edit.title_original"
                           required placeholder="На английском, японском, и т.д." ng-minlength="2">
                    <p ng-show="editForm.title_original.$invalid && !editForm.title_original.$pristine"
                       class="help-block">И все поля ниже обязательны</p>
                </div>
                <div class="form-group">
                    <label>Количество серий:</label>
                    <input type="number" min="1" name="series_count"ng-model="edit.series_count"
                           class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="release_date">Дата выхода:</label>
                    <input type="date" id="release_date" class="form-control" ng-model="edit.release_date" required>
                </div>
                <div class="form-group">
                    <label>Описание:</label>
                    <textarea name="description" class="form-control" ng-model="edit.description" rows="5" required
                    placeholder="Вставьте сюда краткое описание"></textarea>
                </div>
                <div id="reviewStars-input">
                    <b>Ваша оценка:</b><br/>
                    <input id="star-4" type="radio" name="rating" value="5" ng-model="edit.rating"/>
                    <label title="Отлично" for="star-4"></label>

                    <input id="star-3" type="radio" name="rating" value="4" ng-model="edit.rating"/>
                    <label title="Хорошо" for="star-3"></label>

                    <input id="star-2" type="radio" name="rating" value="3" ng-model="edit.rating"/>
                    <label title="Так себе" for="star-2"></label>

                    <input id="star-1" type="radio" name="rating" value="2" ng-model="edit.rating"/>
                    <label title="Плохо" for="star-1"></label>

                    <input id="star-0" type="radio" name="rating" value="1" ng-model="edit.rating"/>
                    <label title="Ужасно" for="star-0"></label>
                </div>
                <br/>
                <button type="submit" class="btn btn-primary" ng-disabled="editForm.$invalid">
                    Добавить аниме</button>
            </form>
        </div>
    </div>

    <div class="panel-primary" style="overflow: hidden" ng-init="requestData()">
        <table class="table table-responsive" style="margin: -5px 0 -5px 0;">
            <tr>
                <td style=" border: none">
                    <h3 align="center" style="margin: -5px 0 10px 0;">Моя коллекция аниме</h3>
                </td>
                <td style="float:right; border: none;">
                    <span class="h5">Здравствуйте, {{username}}!</span>
                </td>
                <td>
                    <a class="btn btn-xs btn-info" href="/#profile">Профиль</a>
                    <a class="btn btn-xs btn-success" ng-controller="LoginController" ng-click="logout()">Выход</a>
                </td>
            </tr>
        </table>
        <div class="panel-body" style="height: 88vh; overflow-y: auto; padding-top: 0">
            <div class="panel-info" style="">
            </div>
            <div ng-if="edit.title" class="panel-info text-left" style="margin-bottom: 25px">
                <div class="panel-heading">
                    <h4 style="margin: 0" ng-bind="edit.title"></h4>
                </div>
                <dd><b>Оригинальное название: </b><span ng-bind="edit.title_original"></span></dd>
                <dd><b>Количество серий: </b><span ng-bind="edit.series_count"></span></dd>
                <dd><b>Дата выхода: </b><span ng-bind="edit.release_date.toLocaleDateString()"></span></dd>
                <dt>Описание:</dt>
                <dd ng-bind="edit.description"></dd>
            </div>
            <div ng-repeat="anime in anime_list | orderBy: 'anime[0]'" class="panel-primary text-left"
                 style="margin-bottom: 25px">
                <div class="panel-heading">
                    <button class="btn btn-xs btn-danger" style="float: right" id="element{{anime[0]}}"
                            ng-click="removeAnime(anime[0])">Удалить
                    </button>
                    <h4 style="margin: 0">{{anime[1]}}</h4></div>
                <dd><b>Оригинальное название: </b>{{anime[2]}}</dd>
                <dd style="float: right; margin-right: 10px;"><b>Оценка: </b>{{anime[6]}}</dd>
                <dd><b>Количество серий: </b>{{anime[3]}}</dd>
                <dd><b>Дата выхода: </b>{{anime[4]}}</dd>
                <dt>Описание:</dt>
                <dd>{{anime[5]}}</dd>
            </div>
        </div>
    </div>
</div>