<h3 class="panel-title">Для просмотра коллекции войдите или зарегистрируйтесь</h3>
<div ng-controller="LoginController">
    <form name="loginForm" ng-submit="login()" role="form" novalidate>
        <div class="form-group"
             ng-class="{ 'has-error': loginForm.username.$dirty && loginForm.username.$error.required }">
            <label>Никнейм:</label>
            <input type="text" name="username" class="form-control" ng-model="username" required autofocus>
            <span ng-show="loginForm.username.$dirty && loginForm.username.$error.required" class="help-block">
                Это поле не может быть пустым</span>
        </div>
        <div class="form-group"
             ng-class="{ 'has-error': loginForm.password.$dirty && loginForm.password.$error.required }">
            <label>Пароль:</label>
            <input type="password" name="password" class="form-control" ng-model="password" required>
            <span ng-show="loginForm.password.$dirty && loginForm.password.$error.required" class="help-block">
                Давай, не ленись, набирай пароль</span>
        </div>
        <button type="submit" class="btn btn-primary" ng-disabled="loginForm.$invalid">Войти</button>
        <a class="btn btn-default" href="/#signup" role="button">Регистрация</a>
    </form>
</div>
<div ng-show="error" class="alert alert-danger">{{error}}</div>
